<h3>
	Title:
	<%= @article.title %>
</h3>
<p>
	Text:
	<%= markdown(@article.text).html_safe %>
</p>

<h2>Comments:</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>
