<h1>
	<%= @article.title %>
</h1>
<p>
	<%# markdown(@article.text) %>
	<%= sanitize_topic (markdown(@article.text)) %>
</p>
<hr>

<!-- Blog Comments -->
<!-- Comments Form -->
<%= render 'comments/form' %>
<hr>
<!-- Posted Comments -->
<!-- Comment -->
<%= render @article.comments %>
<hr>

