<h1>
	<%= @article.title %>
</h1>
<p>
	<%= markdown(@article.text).html_safe %>
</p>

<hr>

<h3>Comments:</h3>
<%= render @article.comments %>

<hr>

<h3>Add a comment:</h3>
<%= render 'comments/form' %>
