<!-- Blog Categories Well -->
<div class="well">
    <h4>分类目录</h4>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-unstyled">
              <% @category.each do |category| %>
              <li><%= link_to category.name, action: "index", filter_category: category.name %>
              </li>
              <% end %>
          </ul>
      </div>
      <!-- /.col-lg-6 -->
                  <!--       <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->