<!-- Blog Categories Well -->
<!-- <div class="well"> -->

<form>
  <div class="list-group">
    <a class="list-group-item active">分类目录</a>  
    <% @category.each do |category| %>
      <%= link_to category.name,  { action: "index" , filter_category: category.name }, 
                class: "list-group-item" %>    
    <% end %>
  </div>
  <!-- </div> -->
</form>
