<!-- Blog Search Well -->
<div class="well">
  <form>
    <h4>Blog Search</h4>
    <div class="input-group">
        <input type="text" class="form-control" value='<%= params[:keyword] %>' name='keyword' placeholder='Keyword' >
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit" >
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
    <!-- /.input-group -->
  </form>
</div>